<app-header></app-header>
<div class="conatiner">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
      <h1 style="background-color:brown"><strong>Creating own DIRECTIVES</strong></h1>
      <hr>
      <hr>
      <p appBasicHighlight>Style me with basic directive</p>
      <p appBetterHighlight [defaultColor] = "'yellow'" [highlightColor] = "'red'">Style me with better directive</p>
    </div>
  </div>
</div>

<h1 style="background-color:brown"><strong>ng Class & ng Style</strong></h1>
<hr>
<hr>
<button class="btn btn-primary"
(click)="onlyOdd = !onlyOdd">Only Show Odd Numbers</button>
<br><br>
<ul class="list-group">
  <div *ngIf="onlyOdd">
    <li class="list-group-item"
    [ngClass]="{odd: odd % 2 !== 0}"
  [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
    *ngFor="let odd of oddNumbers">
    {{ odd }}
  </li>
  </div>

<!-- <div *ngIf="!onlyOdd">
  <li class="list-group-item"
  [ngClass]="{odd: even % 2 !== 0}"
  [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
 *ngFor= "let even of evenNumbers">
  {{ even }}
</li>
</div>
<ng-template [ngIf]="!onlyOdd">
  <div *ngIf="!onlyOdd">
    <li class="list-group-item"
    [ngClass]="{odd: even % 2 !== 0}"
    [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
   *ngFor= "let even of evenNumbers">
    {{ even }}
  </li>
  </div> -->
  
<!-- </ng-template> -->
 <div *appUnless="onlyOdd">
  <li class="list-group-item"
  [ngClass]="{odd: even % 2 !== 0}"
  [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
 *ngFor= "let even of evenNumbers">
  {{ even }}
</li>
</div> 
</ul>
<div [ngSwitch]="value">
  <p *ngSwitchCase="5">Value is 5</p>
  <p *ngSwitchCase="10">Value is 10</p>
  <p *ngSwitchCase="100">Value is 100</p>
  <p *ngSwitchDefault>Value is Default</p>
</div>

<hr>
<h1 style="background-color:brown"><strong>Service and Dependecy Injection</strong></h1>
<hr>
<hr>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <app-new-account></app-new-account>
    <hr>
    <app-account 
    *ngFor="let acc of accounts; let i = index"
    [account]="acc"
    [id]="i"></app-account>
    
  </div>
</div>

<hr>
<h1 style="background-color:rgb(145, 255, 0)"><strong>Routers</strong></h1>
<hr>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li 
        role="presentation" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a routerLink= "/">Home</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink= "/servers">Servers</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]= "['/users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>

    </div>
      </div>
   
</div>


<hr>
<h1 style="background-color:rgb(145, 255, 0)"><strong>Observables</strong></h1>
<hr>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Home</a>
      <a [routerLink]="['user',1]">User 1 {{ user1Activate ? '(activated)' : '' }}</a>
      <a [routerLink]="['user',2]">User 2 {{ user2Activate ? '(activated)' : '' }}</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<hr>
<h1 style="background-color:rgb(145, 255, 0)"><strong>Forms Handling Template Driven</strong></h1>
<hr>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="user-data">
          <div class="form-group">
            <label for="username">UserName</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
            </div>
            <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest a Username</button>
            <div class="form-group">
              <label for="email">Mail</label>
              <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            </div>
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
          </div>
          <div class="form-group">
            <label for="secret">Secret Question</label>
            <select id="secret" class="form-control" ngModel name="secret">
              <option value="pet">Your First pet?</option>
              <option value="teacher">Your First teacher?</option> 
            </select>
            </div>
          <div class="form-group">
            <textarea name="questionanswer" rows="3" class="form-control" [(ngModel)]="answer"></textarea>  
            </div>
            <p>Your reply: {{ answer }}</p>
            <div class="radio" *ngFor="let gender of genders">
              <label><input type="radio" name="gender" ngModel [value]="gender"> {{ gender }}</label>
            </div>
          <button class="btn btn-primary" type="submit" [disabled] = "!f.valid">Submit</button>
        </form>
        </div>
      </div>
      <hr>
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Username: {{ user.username }}</p>
          <p>Mail: {{ user.email }}</p>
          <p>Secret Question: Your first {{ user.secretQuestion }}</p>
          <p>Answer: {{ user.answer }}</p>
          <p>Gender: {{ user.gender }}</p>

        </div>
      </div>
      </div>
    

      <hr>
<h1 style="background-color:rgb(145, 255, 0)"><strong>Forms Handling Reactive Approach</strong></h1>
<hr>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm_ra" (ngSubmit)="onSubmit_ra()">
        <div formGroupName = "userData_ra">
            <div class="form-group">
                <label for="username_ra">UserName</label>
                <input type="text" id="username_ra" formControlName="username_ra" class="form-control">
                <span *ngIf="!signupForm_ra.get('userData_ra.username_ra').valid && signupForm_ra.get('userData_ra.username_ra').touched"
                class="help-block">Please enter a valid username!</span>
                </div>
                <div class="form-group">
                  <label for="email_ra">Email</label>
                  <input type="text" id="email_ra" formControlName="email_ra" class="form-control">
                  <span *ngIf="!signupForm_ra.get('userData_ra.email_ra').valid && signupForm_ra.get('userData_ra.email_ra').touched"
                class="help-block">Please enter a valid email!</span>
                  </div>
              <div class="radio" *ngFor="let gender_ra of genders">
                <label><input type="radio" formControlName="gender_ra" [value]="gender_ra"> {{ gender_ra }}</label>
              </div>
              <div formArrayName="hobbies">
                <h4>Your Hobbies</h4>
                <button class="btn btn-default" type="button" (click)="onAddHobby">Add Hobby</button>
                <div class="form-group"
                *ngFor="let hobbyControl of signupForm_ra.get('hobbies').controls; let i = index">
                <input type="text" class="form-control" [formControlName]="i">
              
              </div>
              </div> 
              <span *ngIf="!signupForm_ra.valid && signupForm_ra.touched"
            class="help-block">Please enter a valid data!</span>
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>  
            </form>
              </div>
              </div>
              </div>

              <hr>
<h1 style="background-color:rgb(145, 255, 0)"><strong>Making HTTP Requests</strong></h1>
<hr>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" #serverName>
      <button class="btn btn-primary" (click)="onAddServer(serverName.value)">Add Server</button>
      <br><br>
      <button class="btn btn-primary" (click)="onSave()">Save Servers to Database</button>
      <button class="btn btn-primary" (click)="onGet()">Get Servers to Database</button>
      <hr>
      <ul class="list-group" *ngFor="let server1 of servers1">
        <li class="list-group-item">{{ server1.name }} (ID: {{ server1.id }})</li>
      </ul>
      </div>
      </div>
      </div>
 






